<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The background</title>

</head>
<body>
<style>h1 {text-align: center;}</style>
<center>
<h1>Background</h1>
<p>He was born on July 18, 1918, in the village of Mvezo, into a royal family of the Xhosa-speaking Tembu tribe. He spent 27 years in prison for his actions and was released in 1990
 He became the president of South Africa in 1994 and formed a multiethnic government3. He retired from politics in 1999 and continued to advocate for peace and human rights until his death on December 5, 2013 .Nelson mandela brought together a whole country and made South Africa the country it is today.</p>


</body>
<h5>Next page: <a href="{% url 'Nelson:bio' %}">bio</a></h5>
</center>
</html>